/* https://github.com/Semantic-Org/Semantic-UI/blob/master/dist/semantic.css#L5466-5467 */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(8, 8, 8, 0.562);
}
.popup_inner {
    position: absolute;
    left: 38%;
    right: 38%;
    top: 4%;
    margin: auto;
    background-color: #444; 
    padding: 5px; 
    color: white;
}

.ui.message {
    background: transparent !important;
    color: rgba(241, 237, 237, 0.87) !important;
    text-align: center !important;
    font-size: x-large !important;
}

.ui.segment {
    padding: 5px !important;
}
.ui.bottom.attached.message {
    padding: 10px !important;
}
i.icon.size {
    font-size: 3em !important;
    justify-content: center !important;
    padding-top: 8px !important;
}
.gridRowColor {
    background-color: #777 !important;
    
}
.bottonRight {
    text-align: right;
}
i.icon.google.plus {
    color: rgb(245, 240, 240);
}
i.icon.facebook {
    color: rgb(245, 240, 240);
}
@media only screen and (max-width: 992px) {
    .popup_inner {
        left: 30%;
        right: 30%;
    }
    i.icon.size {
        font-size: 3em !important;
    }
    .ui.bottom.attached.message {
        padding: 12px !important;
    }
    .ui.message {
        font-size: large !important;
    }
}
@media only screen and (max-width: 768px) {
    .popup_inner {
        left: 25%;
        right: 25%;
    }
    i.icon.size {
        font-size: 2em !important;
    }
    .ui.bottom.attached.message {
        padding: 8px !important;
    }
    .ui.message {
        font-size: small !important;
    }
}
@media only screen and (max-width: 644px) {
    .popup_inner {
        left: 20%;
        right: 20%;
    }
}
@media only screen and (max-width: 468px) {
    .popup_inner {
        left: 15%;
        right: 15%;
    }
    i.icon.size {
        font-size: 1.7em !important;
    }
    .ui.bottom.attached.message {
        padding: 5px !important;
    }
    .ui.message {
        font-size: small !important;
    }
}
@media only screen and (max-width: 367px) {
    .popup_inner {
        left: 5%;
        right: 5%;
    }
}
@media only screen and (max-width: 309px) {
    .popup_inner {
        left: 3%;
        right: 3%;
    }
    i.icon.size {
        font-size: 1.7em !important;
    }
    .ui.bottom.attached.message {
        padding: 3px !important;
    }
    .ui.message {
        font-size: x-small !important;
    }
}
